.btn-playstation{
  display: flex;
  justify-content: center;
  
}

.playstation-pic{
  width: 650px;
  height: 400px;
  margin-left: 31%;
}

.input-price{
  display: flex;
  margin-left: 47%;
  margin-bottom: 10px;
}

.navbar{
  margin-left: -120px;
}

.h4-title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ps5-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 470px;
}

.btn-delete-cart{
  margin-right: 760px;
}